@model IEnumerable<MyPhoneBook.Web.Models.PhoneBookViewModel>;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    @Html.ActionLink("Create Phone Book", "Create", new { })
    <table id="phoneBook" class="table">
        <thead>
            <tr>
                <th>
                    Phone Book
                </th>
                <th>
                    Created
                </th>
                <th>
                    No entries.
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td>
                            @Html.ActionLink($"{item.TotalEntries}", "Index", "MyEntry", new { id = item.Id })
                        </td>
                        <td>                            
                            @Html.ActionLink("Delete", "Delete", "myphonebook", new { id = item.Id })
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#phoneBook').DataTable();
    });
</script>

